{% extends 'registration/templates.html' %}

{% block content %}
  {% if validlink %}
  <div class="background">
    <a class="close" href = '{% url "index" %}'>&times;</a>
    <div class="card-body" style = 'text-align: left; margin: 20% auto; z-index:50; width: 75%;'>
      <h2 style="text-align:left; padding: 1.5rem;">Reset Password</h2>
      <form action="" method="POST" class = 'inside'>
        <div class="card-body" style="text-align:right;">
          {% csrf_token %}
          <div>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
          </div>
          <div>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
          </div>
          <div>
            <button class="p-2 mt-3 bg-light button-style" name = 'submit'> Reset </button>
          </div>
          <div>
            {% for message in messages %}
              <p class = 'text-danger my-3'> {{message}} </p>
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>
  var form_fields = document.getElementsByTagName('input');
  form_fields[1].placeholder = 'New Password'
  form_fields[2].placeholder = 'Confirm Password'

  for (var field in form_fields){
    form_fields[field].className += 'form-control'
  }
  </script>
  {% else %}
  <div class="background" style="">
    <a class="close" href = '{% url "index" %}'>&times;</a>
    <div class="card-body"  style = 'text-align: left; margin: 25% 7.5%; z-index:50; width: 50%;'>
      <h2 style= "padding: 2rem 0;">Reset Password</h2>
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    </div>
  </div>

  {% endif %}
{% endblock %}
