{% extends 'registration/templates.html' %}

{% block content %}

<div class="background">
  <a class="close" href = '{% url "index" %}'>&times;</a>
  <div class="card-body" style = 'position:absolute; text-align: left; z-index:50; width: 80%; top: 25%; left:10%;'>
    <h2 style="text-align:left; padding: 1.5rem;">Reset Password</h2>
    <form action="" method="POST" class = 'inside'>
      <div class="card-body" style="text-align:right;">
        {% csrf_token %}
        <div>
          {{ form.email }}
          <button class="p-2 mt-4 bg-light button-style" name = 'submit'> Reset </button>
        </div>
        <div>
          {% for message in messages %}
            <p class = 'text-danger my-3'> {{message}} </p>
          {% endfor %}
        </div>
      </div>
    </form>
  </div>
</div>

<script>
var form_fields = document.getElementsByTagName('input');
form_fields[1].placeholder = 'Email'

for (var field in form_fields){
  form_fields[field].className += 'form-control'
}
</script>
{% endblock %}
