{% extends 'Pages/Astrology.html' %}
{% load static %}
{% block body_block %}

<div class="containers" id="main">
  <div class="row bg-light">
    <div class="col-12">
      <h1 class="card-title display-1 mb-5 text-dark" style="text-align: center;">రాశిచక్రం</h1>
    </div>
  </div>
  <div class="row bg-light">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
      <div class="card">
        <div class="card-body">
          <span class="ai aries"></span>
          <h1>మేషము</h1>
        </div>
      </div>
    </div>
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <div class="card">
      <div class="card-body">
        <span class="ai taurus"></span>
        <h1>వృషభము</h1>
      </div>
    </div>
  </div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai gemini"></span>
      <h1>మిథునము</h1>
    </div>
  </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai cancer"></span>
      <h1>కర్కాటకము</h1>
    </div>
  </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai leo"></span>
      <h1>సింహము</h1>
    </div>
  </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai virgo"></span>
      <h1>కన్యా</h1>
    </div>
  </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai libra"></span>
      <h1>తుల</h1>
    </div>
  </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai scorpio"></span>
      <h1>వృశ్చికము</h1>
    </div>
  </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai sagittarius"></span>
      <h1>ధనస్సు</h1>
    </div>
  </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai capricorn"></span>
      <h1>మకరము</h1>
    </div>
  </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai aquarius"></span>
      <h1>కుంభము</h1>
    </div>
  </div>
</div>
<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
  <div class="card">
    <div class="card-body">
      <span class="ai pisces"></span>
      <h1>మీనము</h1></div>
    </div>
  </div>
</div>
</div>
{% endblock %}
