:root{
--bgcolor: #ffe8d6;
--sidecolor: #fd9644;
}

body{
  font-size: 1.5vmin;
  background-color: var(--bgcolor);
  user-select: none;
}

.containers {
    max-width: 70% !important;
    margin: auto;
    /*background-image: url('/img/background.jfif');*/
  }

/*
 * Navigation Bar
*/

 .masthead{
   position: fixed;
   z-index: 1;
   width:100%;
   margin-left: auto;
 }

.title{
  padding-top: 6px;
  user-select: none;
}

 .nav-masthead .nav-link {
   outline: none;
   font-size: 2vmin;
   font-weight: 700;
   color: rgba(255, 255, 255, .5);
   border-bottom: .15rem solid transparent;
   transition: border 0.5s;
 }

 .nav-masthead .active{
   color: #fff;
   border-bottom-color: #fff;
 }

 .nav-masthead .nav-link:hover,
 .nav-masthead .nav-link:focus {
   border-bottom-color: rgba(255, 255, 255, .25);
 }

 .nav-masthead .nav-link {
   margin: 0.7rem;
 }

.fa{
  font-size: 30px;
  padding: 1rem;
  margin-right: 2rem !important;
}

.user-photo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.2);
}

.bgg{
  background-color: var(--sidecolor);
}

.menu{
  visibility: hidden;
  overflow-x: hidden;
  position: fixed;
  top:0;
  width:0;
  height: 100%;
  z-index: 1;
  left: 0;
  transition: 0.7s;
}

.move{
  left: 0;
  transition: 0.7s;
}

.leftmove{
  position: absolute;
  right: 0;
  transition: 0.7s;
}
