{% load static %}

<head>
  <title>Wallet</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="{% static 'css/wallet.css' %}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
  <link rel="stylesheet" href="{% static 'css/login.css'%}"/>
  <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png"/>
</head>



<body>
  <nav class="navbar masthead nav-masthead bgg text-light move">
    <div class="d-flex justify-content-start">
      <a class="fa fa-bars text-light m-auto" id="open_menu"></a>
      <a class="mb-3 title display-4">Astro</a>
    </div>
    <div class="d-flex justify-content-end leftmove">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
      <a class="nav-link mr-5" href="{% url 'book' %}">Book</a>

    </div>
  </nav>
  <div class ='modal-back'>
    <div class="container">
      <div class="iphone">
        <a class="close" href = '{% url "index" %}' style = 'z-index:4;'>&times;</a>
        <div class="header">
          <div class="header-summary">
            <div class="summary-text">
              My Balance
            </div>
            <div class="summary-balance">
              &#8377; {{ WALLET_AMOUNT }}
            </div>
          </div>
        </div>
        <div class="content">
          <div class="upper-row">
            <div class="card-item">
              <span style = 'font-size: 20px;'> Amount Added </span>
              &#8377; {{ AMOUNT }}
            </div>
          </div>
          <div class="lower-row">
            <div class = 'card-item'>
              <span style = 'font-size: 30px;'> Order Number </span>
              <span style = 'font-size: 20px;'>{{ ORDER_ID }}</span>
              <img src = '{% static "img/verified.gif" %}' height = 100px width = 125px class = 'animate'  style = 'margin:auto; text-align:center;'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
