{% load static %}

<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'css/astrology.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/login.css'%}"/>
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png"/>
  </head>
  <body>
    <nav class="navbar masthead nav-masthead bgg text-light move">
      <div class="d-flex justify-content-start">
        <a class="fa fa-bars text-light m-auto"></a>
        <a class="mb-3 title display-4"  href="{% url 'index' %}" >Astro</a>
      </div>
    </nav>
    <div class="modal-back text-light">
      <div class="modal-content animate bgg">
        <div class="d-flex">
          <a class="close" href = '{% url "index" %}'>&times;</a>
          <div class="col-md-5 p-0">
            <img src="{% static 'img/side_img_1.jpg'%}" class="card-img"  style= 'opacity:0.8;'>
          </div>
          <div class="bgg col-md-7 bgg" style = 'text-align: center; margin:auto;  z-index:50; width: 550px;'>
          <h2 style="text-align:center; padding: 1.5rem;">Astrologer Registration</h2>
          <div class="card-body">
            <form action="" method="POST" class = 'inside' enctype="multipart/form-data">
              <div class="card-body" style="text-align:left; padding-right: 2rem;">
                {% csrf_token %}
                <div>
                  {{profile_form.name}}
                  {{profile_form.name.errors}}
                </div>
                <div>
                  {{profile_form.phone_number}}
                  <p>{{profile_form.phone_number.errors}}</p>
                </div>
                <div>
                  {{profile_form.XP}}
                  {{profile_form.XP.errors}}
                </div>
                <div>
                  {{profile_form.rate_per_min}}
                  {{profile_form.rate_per_min.errors}}
                </div>
                <div>
                  {{profile_form.profile_pic}}
                </div>
                <div class = 'pb-3'>
                  {{profile_form.language}}
                  {{profile_form.language.errors}}
                </div>
                <div>
                  {{profile_form.captcha}}
                </div>
                <div>
                  <button class="p-2 mt-4 bg-light" name = 'submit' value = 'Submit'>Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
<script>
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder = 'Full Name'
form_fields[2].placeholder = 'Phone Number'
form_fields[2].value = '+91'
form_fields[3].placeholder = 'Experience'
//form_fields[4].placeholder = 'Language'
form_fields[4].placeholder = 'Rate per Minute'
form_fields[5].placeholder = 'Photo'

for (var field in form_fields){
  form_fields[field].className += 'form-control'
  form_fields[field].autocomplete = 'off'
  form_fields[field].style.width = '100%'
}
</script>
</html>
