{% extends 'Astrology.html' %}
{% load static %}
{% block body_block %}

<div class="modal-back text-light">
  <div class="modal-content animate bgg">
    <div class="d-flex">
      <a class="close place1" href = '{% url "index" %}'>&times;</a>
      <div class="col-md-5 p-0 immg">
        <img src="{% static 'img/side_img_1.jpg'%}" class="card-img"  style= 'opacity:0.8;'>
      </div>
      <div class="bggg col-md-7 bgg" style = 'text-align: center; z-index:50;'>
        <div class="card-body m-auto">
          <a class="close place2" href = '{% url "index" %}'>&times;</a>
          <h2 style="text-align:left; padding: 1.5rem;">Login</h2>
          <form action="" method="POST" class = 'inside'>
            <div class="card-body" style="text-align:right;">
              {% csrf_token %}
              <div>
                <input type="text" name="login_user" autocomplete="off"/>
              </div>
              <div>
                <input type="password" name="login_pass" autocomplete="off"/>
              </div>
              <div>
                {% for message in messages %}
                  <p class = 'text-danger my-3'> {{message}} </p>
                {% endfor %}
              </div>
              <div class = 'close-down'>
                <a class="m-2 bg-light btn-light" href = '{% url "Astro:register" %}' style = 'cursor: pointer;'>Register</a>
              </div>
              <div class = 'close-down-right'>
                <a class = 'text-dark' style = 'text-decoration: none; cursor:pointer;' href = '{% url "password_reset" %}'>Forgot Password</a>
                <button class="p-2 mt-2 bg-light" name = 'submit' value = 'login' style = 'cursor: pointer;'>Login</button></br>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
var form_fields = document.getElementsByTagName('input');
form_fields[1].placeholder = 'Username'
form_fields[2].placeholder = 'Password'

for (var field in form_fields){
  form_fields[field].className += 'form-control'
}
</script>

{% endblock %}
