{% extends 'Astrology.html' %}
{% load static %}
{% block body_block %}

<div class="modal-back text-light">
  <div class="modal-content animate">
    <a class="close" href = '/'>&times;</a>
    <h2 style="text-align:center; padding: 1.5rem;">Login</h2>
    <form action="" method="POST">
      <div class="card-body" style="text-align:right; padding-left: 2rem;">
        {% csrf_token %}
        <div>
          <input type="text" name="login_user"/>
        </div>
        <div>
          <input type="password" name="login_pass" autocomplete="off"/>
        </div>
        <div>
          {% for message in messages %}
            <p> {{message}} </p>
          {% endfor %}
        </div>
        <div>
          <a class="p-2 mt-4 btn-dark bg-dark" href = '{% url "Astro:register" %}'>Register</a>
          <button class="p-2 mt-4 bg-light" name = 'submit' value = 'login'>Login</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder = 'Username'
form_fields[2].placeholder = 'Password'

for (var field in form_fields){
  form_fields[field].className += 'form-control'
}
</script>

{% endblock %}
