{% extends 'Astrology.html' %}
{% load static %}
{% block body_block %}

<div class="modal-back text-light">
  <div class="modal-content animate bgg">
    <div class="d-flex">
      <a class="close place1" href = '{% url "index" %}'>&times;</a>
      <div class="col-md-5 p-0">
        <img src="{% static 'img/side_img_1.jpg'%}" class="card-img" style= 'opacity:0.8;'>
      </div>
      <div class="bggg col-md-7 bgg" style = 'text-align: center; z-index:50;'>
        <div class="card-body m-auto">
          <a class="close place2" href = '{% url "index" %}'>&times;</a>
          <h2 style="text-align:left; padding: 1.5rem;">Register</h2>
          <form action="" method="POST" class = 'inside' enctype="multipart/form-data">
            <div class="card-body" style="text-align:right;">
              {% csrf_token %}
              <div style = "width: 100%;">
                {{profile_form.profile_name}}
                {{profile_form.profile_name.errors}}
              </div>
              <div>
                {{user_form.username}}
                {{user_form.username.errors}}
              </div>
              <div>
                {{user_form.email}}
                {{user_form.email.errors}}
              </div>
              <div>
                {{profile_form.phone_number}}
                {{profile_form.phone_number.errors}}
              </div>
              <div>
                {{user_form.password}}
                {{user_form.password.errors}}
              </div>
              <div>
                {{profile_form.profile_pic}}
              </div>
              <div>
                {{ profile_form.captcha }}
                {{ profile_form.captcha.errors }}
              </div>
              <div>
                {{ profile_form.non_field_errors }}
                {{ user_form.non_field_errors }}
              </div>
              <div class = 'close-down'>
                <a class="mt-4 bg-light btn-light" href="{% url 'Astro:user_login' %}" style = 'cursor: pointer;'>Login</a>
              </div>
              <div class = 'close-down-right'>
                <button class="p-2 mt-4 bg-light" name = 'submit' value = 'register' style = 'cursor: pointer;'>Register</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder = 'Full Name'
form_fields[2].placeholder = 'Username'
form_fields[3].placeholder = 'Email'
form_fields[4].placeholder = 'Phone Number'
form_fields[4].value = '+91'
form_fields[5].placeholder = 'Password'
form_fields[6].placeholder = 'Profile Picture'

for (var field in form_fields){
  form_fields[field].className += 'form-control'
  form_fields[field].autocomplete = 'off'
}


</script>

{% endblock %}
