{% load static %}

<head>
  <title>Wallet</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="{% static 'css/wallet.css' %}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
  <link rel="stylesheet" href="{% static 'css/login.css'%}"/>
  <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png"/>
</head>



<body>
  <nav class="navbar masthead nav-masthead bgg text-light move">
    <div class="d-flex justify-content-start">
      <a class="fa fa-bars text-light m-auto" id="open_menu"></a>
      <a class="mb-3 title display-4">Astro</a>
    </div>
    <div class="d-flex justify-content-end leftmove">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
      <a class="nav-link mr-5" href="{% url 'book' %}">Book</a>
      {% if username %}
        <a class="nav-link mr-5" href="{% url 'logout' %}">{{ username }}</a>
      {% else %}
        <a class="nav-link mr-5" href = "{% url 'Astro:user_login' %}">Login</a>
      {% endif %}

    </div>
  </nav>
  <div class ='modal-back'>
  <div class="animate container">
    <div class="iphone">
      <a class="close" href = '{% url "index" %}' style = 'z-index:4;'>&times;</a>
      <div class="header">
        <div class="header-summary">
          <div class="summary-text">
            My Balance
          </div>
          <div class="summary-balance">
            &#8377; {{ wallet.current_balance }}
          </div>
        </div>
        <div class="user-profile">
          {% if info.profile_pic %}
            <img src= "{{ info.profile_pic.url }}" class="user-photo">
          {% else %}
            <img src = '{% static "img/icon.png" %}' class = 'user-photo'>
          {% endif %}
        </div>
      </div>

        <form method="post">
          {% csrf_token %}
          <div class="content">
            <div class="upper-row">
              <div class="card-item">
                <span>Top-Up</span>
                <input name="amount" value="50" style="text-align:center;" autocomplete = 'off'><br/>
              </div>
            </div>
            <div class="card-item">
              {% for message in messages %}
                <p> {{message}} </p>
              {% endfor %}
            </div>
            <div class="lower-row">
              <div class="icon-item">
                <button type="submit" name="submit" value="Submit">Pay</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
