html
  head
    title Home
    include header.pug
    link(rel='stylesheet', href='/css/astrology.css')
  body
    - var list = [{value: "మేషము", symbol: 'aries'}, {value: "వృషభము", symbol: 'taurus'}, {value: "మిథునము", symbol: 'gemini'}, {value: "కర్కాటకము", symbol: 'cancer'}, {value: "సింహము", symbol: 'leo'}, {value: "కన్యా", symbol: "virgo"}, {value: "తుల", symbol: 'libra'},{value: 'వృశ్చికము', symbol: 'scorpio'}, {value: 'ధనస్సు', symbol: 'sagittarius'}, {value: "మకరము", symbol: 'capricorn'},{value: "కుంభము", symbol: "aquarius"}, {value: "మీనము", symbol: 'pisces'}]
    div.containers#main
      div.row.bg-light.text-light
        li.col-12
          h1(style = 'text-align: center;').card-title.display-1.mb-5.text-dark రాశిచక్రం
      div.row.bg-light.text-light: each content in list
        div.col-xl-2.col-lg-3.col-md-4.col-sm-6
          div.card
            div.card-body
              span(class = 'ai '+ content.symbol)
              h1=content.value
  include footer.pug
