html
  head
    title Book
    include header.pug
  body
    div.containers.mx-auto.row#main
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
      div.col-xl-4.col-lg-6.col-sm-12
        - var name = 'పేరు'; var feature = 'లక్షణాలు'; var language ='భాష'; var experience ='సంవత్సరం'; var price= '500'; var priceCall= '20';
        include Blog.pug
  include footer.pug
