{% load static %}
<html>
  <head><title>Home</title><html><head><meta charset="utf-8"/><link rel="stylesheet" href="{% static 'css/astrology.css' %}"/><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/><link rel="stylesheet" href="{% static 'css/index.css'%}"/><link rel="stylesheet" href="{% static 'css/login.css'%}"/>
  <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png"/>
  <script>function setCookie(cname, cvalue, exdays) {
    var date = new Date();
    date.setTime(date.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ date.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    console.log(document.cookie);
  }
  function openMenu(){
    document.querySelector(".menu").style.width = "250px";
    document.querySelector(".menu").style.visibility = "visible";
    document.querySelector('.move').style.left = "250px";
    document.querySelector('.leftmove').style.right = "250px";
  }
  function closeMenu(){
  document.querySelector(".menu").style.width = "0px";
  document.querySelector(".menu").style.visibility = "hidden";
  document.querySelector('.move').style.left = "0px";
  document.querySelector('.leftmove').style.right = "0px";
  }
  function login(){
    document.getElementById('appear2').style.display='block';
    document.getElementById('appear').style.display='none';
  }
  function register(){
    document.getElementById('appear').style.display='block';
    document.getElementById('appear2').style.display='none';
  }
  </script>
</head>
<nav class="navbar masthead nav-masthead bgg text-light move">
  <div class="d-flex justify-content-start">
    <a class="fa fa-bars text-light m-auto" id="open_menu"></a>
    <a class="mb-3 title display-4">Astro</a>
  </div>
  <div class="d-flex justify-content-end leftmove">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link mr-5" href="/book">Book</a>
  </div>
</nav>

<div class="navbar-header" style="padding-top:10rem;">
  <nav class="menu nav-masthead bgg text-light" style="padding-top:6.5rem;" id="menu">
    <div>
      <a class="nav-link" href="/">Wallet</a>
      <a class="nav-link" href="/">Report</a>
      <a class="nav-link" href="/">Blog</a>
      <a class="nav-link" href="/">Language</a>
      <a class="nav-link" href="/">Settings</a>
    </div>
  </nav>
</div>
<body><div class="containers mx-auto row" id="main">
  <div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div><div class="col-xl-4 col-lg-6 col-sm-12"><style type="text/css">.card p{
  font-size: 1vmin;
  margin: 0 0 2px 5px;
}
</style><!--a(href = '/astrolgier' style = '')--><div class="card" style="margin-bottom: 1.5rem;"><div class="row"><div class="col-3"><img class="mx-auto" style="text-align: center; position: relative; top: 30%; left: 70%; transform: translate(-50%,-50%); height: 40px; width: 40px;" src="img/icon.png"/></div><div class="col-5 flex"><h5 class="font-weight-bold mt-3" style="font-size: 1.5vmin;">పేరు</h5><p>లక్షణాలు</p><p>భాష</p><p class="mb-2">సంవత్సరం</p><p class="mb-4 font-weight-bold">Rs.500</p></div><div class="col-4 d-flex" style="text-align: right;"><h5 class="btn-primary" style="font-size: 1.4vmin; position: absolute; bottom:20; right: 20; border-radius: 0.5rem; padding: 6px 12px; margin-right: 0.5rem;">Call</h5><p class="font-weight-bold m-2" style="position: absolute; bottom:0; right: 20;">Rs.20/min</p></div></div></div></div></div></body><script>document.querySelector("#open_menu").addEventListener('click', openMenu);
document.querySelector("#main").addEventListener('click', closeMenu);</script></html>
