<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/login.css"/>

  </head>
  <body>
    <nav class="navbar masthead nav-masthead bgg text-light move">
      <div class="d-flex justify-content-start">
        <a id="open_menu" class="fa fa-bars text-light m-auto"></a>
        <a class="mb-3 title display-4">Astrogeeks</a>
      </div>
      <div class="d-flex justify-content-end leftmove">
        <a href="/" class="nav-link">Home</a>
        <a href="/astrolgy" class="nav-link">Astrology</a>
        <a href="/book" class="nav-link mr-5">Book</a>
        <a onclick = 'document.getElementById("appear").style.display = "block"' class="nav-link mr-5">Login</a>
      </div>
    </nav>
    <div id="appear" class="modal text-light">
      <div class="modal-content animate"><span onclick="document.getElementById('appear').style.display='none'" class="close">&times;</span>
        <h2 style ='{text-align:center; padding: 1.5rem;'>Astrogeeks</h2>
        <div class="row">
          <div class="part col-6 card-body">
            <h5 style = '{text-align:right; padding-right: 2rem;}' class="card-title">Login</h5>
            <form action="/login" method="POST">
              <div style = '{text-align:right; padding-left: 2rem;}' class="card-body">
              <div>
                <input type='text' name= 'User' placeholder='Username' autocomplete="off"/>
              </div>
              <div>
                <input type='text' name= 'Password' placeholder='Password' autocomplete="off"/>
              </div>
                  <button class="p-2 mt-4 bg-light">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div'style',('border-left: 1px solid #999;' class="part col-6 card-body">
            <h5'style',('text-align:left; padding-left: 2rem;' class="card-title">Register</h5>
            <form action="/register" method="POST">
              <div'style',('text-align:left; padding-right: 2rem;' class="card-body">
                <div>
                  <input type='text' name= 'User' placeholder='First Name' autocomplete="off"/>
                </div>
                <div>
                  <input type='text' name= 'Pass' placeholder='Last Name' autocomplete="off"/>
                </div>
                <div>
                  <input type='text' name= 'User' placeholder='Username' autocomplete="off"/>
                </div>
                <div>
                  <input type='text' name= 'User' placeholder='Password' autocomplete="off"/>
                </div>
                <div>
                  <input type='text' name= 'User' placeholder='Confirm Password' autocomplete="off"/>
                </div>
                <div>
                  <button class="p-2 mt-4 bg-light">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div style = '{padding-top:10rem;}' class="navbar-header">
      <nav style = '{padding-top:6.5rem;}' id="menu" class="menu nav-masthead bgg text-light">
        <div><a href="/" class="nav-link">Wallet</a><a href="/" class="nav-link">Report</a><a href="/" class="nav-link">Blog</a><a href="/" class="nav-link">Language</a><a href="/" class="nav-link">Settings</a>
        </div>
      </nav>
    </div>
  </body>
<script>
document.querySelector("#open_menu").addEventListener('click', openMenu);
document.querySelector("#main").addEventListener('click', closeMenu);

function openMenu(){
document.querySelector(".menu").style.width = "250px";
document.querySelector(".menu").style.visibility = "visible";
document.querySelector('.move').style.left = "250px";
document.querySelector('.leftmove').style.right = "250px";
}
function closeMenu(){
document.querySelector(".menu").style.width = "0px";
document.querySelector(".menu").style.visibility = "hidden";
document.querySelector('.move').style.left = "0px";
document.querySelector('.leftmove').style.right = "0px";
}
</script>
</html>
