html
  head
    meta(charset = 'utf-8')
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/login.css')
    link(rel = 'icon' href = 'img/icon.png', type = 'image/png')
      
    script.
      function setCookie(cname, cvalue, exdays) {
        var date = new Date();
        date.setTime(date.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ date.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        console.log(document.cookie);
      }
      function openMenu(){
        document.querySelector(".menu").style.width = "250px";
        document.querySelector(".menu").style.visibility = "visible";
        document.querySelector('.move').style.left = "250px";
        document.querySelector('.leftmove').style.right = "250px";
      }
      function closeMenu(){
      document.querySelector(".menu").style.width = "0px";
      document.querySelector(".menu").style.visibility = "hidden";
      document.querySelector('.move').style.left = "0px";
      document.querySelector('.leftmove').style.right = "0px"; 
      }
    
  body
    nav.navbar.masthead.nav-masthead.bgg.text-light.move
      div.d-flex.justify-content-start
        a#open_menu.fa.fa-bars.text-light.m-auto
        a.mb-3.title.display-4 Astrogeeks
      div.d-flex.justify-content-end.leftmove
        a(href='/').nav-link Home
        a(href='/astrolgy').nav-link Astrology
        a(href='/book').nav-link.mr-5 Book
        a(onclick = 'document.getElementById("appear").style.display = "block"').nav-link.mr-5 Login
        
    div.modal#appear.text-light
      div.modal-content.animate
        span(onclick="document.getElementById('appear').style.display='none'").close &times;
        h2(style = 'text-align:center; padding: 1.5rem;') Astrogeeks
        div.row
          div.part.col-6.card-body
            h5(style = 'text-align:right; padding-right: 2rem;').card-title Login
            form(action='/login' method='POST')
              div(style = 'text-align:right; padding-left: 2rem;').card-body
                div
                  input(type = 'text' name = 'User' placeholder = 'Username' autocomplete="off")
                div
                  input(type = 'text' name = 'Pass' placeholder = 'Password' autocomplete="off")
                div
                  button.p-2.mt-4.bg-light Submit
          div(style = 'border-left: 1px solid #999;').part.col-6.card-body
            h5(style = 'text-align:left; padding-left: 2rem;').card-title Register
            form(action='/register' method='POST')
              div(style = 'text-align:left; padding-right: 2rem;').card-body
                div
                  input(type = 'text' name = 'User' placeholder = 'First Name' autocomplete="off")
                div
                  input(type = 'text' name = 'Pass' placeholder = 'Last Name' autocomplete="off")
                div
                  input(type = 'text' name = 'Pass' placeholder = 'Username' autocomplete="off")
                div
                  input(type = 'text' name = 'Pass' placeholder = 'Password' autocomplete="off")
                div
                  input(type = 'text' name = 'Pass' placeholder = 'Confirm Password' autocomplete="off")
                div
                  button.p-2.mt-4.bg-light Register
    
    div(style = 'padding-top:10rem;').navbar-header
      nav(style = 'padding-top:6.5rem;').menu.nav-masthead.bgg.text-light#menu
        div
          a(href='/').nav-link Wallet
          a(href='/').nav-link Report
          a(href='/').nav-link Blog
          a(href='/').nav-link Language
          a(href='/').nav-link Settings
